<h2>MyApp Meteo :  {{name}}</h2>
<h4>Ville : {{ville }}</h4>
<p>Température actuelle : {{ Temp }} °C</p>
<hr />
<h4>JSON Details</h4>
<p><i>Les données sont au format JSON. Nous pouvons demander l'affichage, en limitant à 400 caractères.</i></p>
<div>►{{allDatas | json | slice:0:400 }}◄</div>
<hr />
<h4>Accès direct</h4>
<p><i>Nous pouvons également accéder directement à certaines propriétés.</i></p>
<div>Aujourd'hui {{ allDatas?.current_condition?.date }} à {{ allDatas?.current_condition?.hour}}
     il fait {{ allDatas?.current_condition?.tmp}}°C.
</div>