<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <h3>modifié à {{ dmodified | date:'dd/MM/yyyy HH:mm:ss' }}</h3>
  <img width="128" alt="Weather Logo" src="../assets/weather.png">
</div>
<div>
  <app-get-data-info></app-get-data-info>
</div>


